In [1]:
#Assignment: 30th Jan 2023

In [2]:
#Q.1
#Ans-

In [4]:
marks = int(input("Enter Your Marks:"))
if marks>90:
    print("GRADE: A")
elif marks<=90 and marks>80:
    print("GRADE: B")
elif marks>=80 and marks<=60:
    print("GRADE: C")
else:
    print("GRADE: D")

Enter Your Marks: 45

GRADE: D

In [5]:
marks = int(input("Enter Your Marks:"))
if marks>90:
    print("GRADE: A")
elif marks<=90 and marks>80:
    print("GRADE: B")
elif marks>=80 and marks<=60:
    print("GRADE: C")
else:
    print("GRADE: D")

Enter Your Marks: 92

GRADE: A

In [6]:
#Q.2
#Ans.

In [8]:
cost = int(input("Enter the cost price of the bike:"))
if cost>100000:
           print("Tax = 15%")
elif cost<=100000 and cost>50000:
           print("Tax = 10%")
else:
           print("Tax = 5%")

Enter the cost price of the bike: 120000

Tax = 15%

In [9]:
cost = int(input("Enter the cost price of the bike:"))
if cost>100000:
           print("Tax = 15%")
elif cost<=100000 and cost>50000:
           print("Tax = 10%")
else:
           print("Tax = 5%")

Enter the cost price of the bike: 30000

Tax = 5%

In [10]:
#Q.3
#Ans.

In [11]:
city = input("Enter Your City:")
if city=="Delhi":
    print("MONUMENT: RED FORT")
elif city=="Agra":
    print("MONUMENT: TAJ MAHAL")
elif city=="Jaipur":
    print("MONUMENT: JAL MAHAL")

Enter Your City: Delhi

MONUMENT: RED FORT

In [12]:
city = input("Enter Your City:")
if city=="Delhi":
    print("MONUMENT: RED FORT")
elif city=="Agra":
    print("MONUMENT: TAJ MAHAL")
elif city=="Jaipur":
    print("MONUMENT: JAL MAHAL")

Enter Your City: jaipur

In [13]:
city = input("Enter Your City:")
if city=="Delhi":
    print("MONUMENT: RED FORT")
elif city=="Agra":
    print("MONUMENT: TAJ MAHAL")
elif city=="Jaipur":
    print("MONUMENT: JAL MAHAL")

Enter Your City: Agra

MONUMENT: TAJ MAHAL

In [14]:
#Q.4 Check how many times a given number can be divided by 3  before it is less than or equal to 10
#Ans.

In [17]:
n = int(input("Enter a number:"))
a = 0
if n<=10:
        a = n//3
        print("Quantity of numbers which can be divisible by 3 and are less than 10:",a)

Enter a number: 9

Quantity of numbers which can be divisible by 3 and are less than 10: 3

In [ ]:
#Q.4 Why and when to use While loop in Python give a detailed description.
#Ans.
While loop is used to execute a  set of statement A unless a condition B is true. Using this single loop we can execute the set of statements again
and again untill the condition is true (or) false (or) any given condition.
Syntax:
    while(condition):
        a1
        a2
        -
        -
        -
        a6
        decrement:
Example:

In [1]:
#Program to print number form 1 to 10
a=1
while a<11:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q.7 Reverse a while loop to display numbers from 10 to 1
#Ans

In [2]:
a = 10
while a>0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Q.6 Use nested while loop to print 3 different pattern
#Ans.

In [1]:
i = 1
while i<=4:
    j = 1
    while j<=4:
        print(j, end=" ")
        j=j+1
    print()
    i=i+1

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
i = 1
while i<=4:
    j = 1
    while j<=i:
        print(j, end=" ")
        j=j+1
    print()
    i=i+1