In [1]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a
#lambda function.
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [11]:
a = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
[ lambda x: a.sort( lambda y: y[1]) ]
print(a)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [12]:
#Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2  , a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x), a))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [19]:
#Write a python program using reduce function to compute the product of a list containing numbers
#from 1 to 25.

In [3]:
a=[]
for i in range(1,26):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [10]:
from functools import reduce
b = []
for i in range(1,26):
    b.append(i)

reduce(lambda x,y: x*y , b)

15511210043330985984000000

In [1]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
#[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
a = list(filter(lambda x: x%2==0 and x%3==0 , lst)) 
print(a)

[6, 60, 90, 120]

In [8]:
#Write a python program to find palindromes in the given list of strings using lambda and filter
#function.
#['python', 'php', 'aba', 'radar', 'level']

In [11]:
lst1 = ['python', 'php', 'aba', 'radar', 'level']
a1 = list(filter(lambda x: x[::-1]==x  , lst1))
print(a1)

['php', 'aba', 'radar', 'level']