In [1]:
#Q1. Explain with an example each when to use a for loop and a while loop.

In [ ]:
For loop is used to iterate a block of code given number of times. Here the iteration number is already known. It is best to use when we know 
the number of times we want to iterate the block of code.
For Example:

In [3]:
s = "Pwskills"
for i in s:
    print(i)

P
w
s
k
i
l
l
s

In [ ]:
While loop is used when we want to iterate a block of code untill our condition becomes false.
For example:

In [1]:
a = int(input("Enter the number:"))
fact = 1
while a>0:
    fact = fact*a
    a = a-1
print(fact)

Enter the number: 5

120

In [ ]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

In [2]:
#For Loop for sum

a = 0
for i in range(11):
    a =a+i
print(a)

55

In [5]:
#For Loop for product

a=1
for i in range(1,11):
    a = a*i
print(a)

3628800

In [10]:
# While loop for sum

a = 1
while a<11:
    d = d+a
    a = a+1
print(d)

55

In [11]:
#While loop for product

a = 1
d = 1
while a<11:
    d = d*a
    a = a+1
print(d)

3628800

In [13]:
#Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.

In [1]:
unit = float(input("Enter the number of electricity units consumed in month:"))
charge = 0
if unit<=100:
    charge = unit*4.5
elif unit>100 and unit<=200:
    charge = unit*6
elif unit>200 and unit<=300:
    charge = unit*10
else:
    charge = unit*20
print("The ELectricity Bill:",charge)

Enter the number of electricity units consumed in month: 250

The ELectricity Bill: 2500.0

In [2]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.

In [3]:
lst = []
for i in range(1,101):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
#using for loop
l1 = []
for i in lst:
    if i%4==0 or i%5==0:
        l1.append(i**3)
print("New List:",l1)

New List: [64, 125, 512, 1000, 1728, 3375, 4096, 8000, 13824, 15625, 21952, 27000, 32768, 42875, 46656, 64000, 85184, 91125, 110592, 125000, 140608, 166375, 175616, 216000, 262144, 274625, 314432, 343000, 373248, 421875, 438976, 512000, 592704, 614125, 681472, 729000, 778688, 857375, 884736, 1000000]

In [6]:
l2 = []
i = 0
a = len(lst)
while a>0:
    if lst[i]%4==0 or lst[i]%5==0:
        l2.append(lst[i]**3)
    a=a-1
    i=i+1
else:
    print("New List:",l2)

New List: [64, 125, 512, 1000, 1728, 3375, 4096, 8000, 13824, 15625, 21952, 27000, 32768, 42875, 46656, 64000, 85184, 91125, 110592, 125000, 140608, 166375, 175616, 216000, 262144, 274625, 314432, 343000, 373248, 421875, 438976, 512000, 592704, 614125, 681472, 729000, 778688, 857375, 884736, 1000000]

In [7]:
#Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [8]:
s1 = "I want to become a Data Scientist"
count = 0
for a in s1:
    if a in ['a','e','i','o','u','A','E','I','O','U']:
        count = count+1
else:
    print("Number of Vowels:",count)

Number of Vowels: 12